<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Gwupe$(var.buildMarker)" Version="!(bind.PackageVersion.GwupeSetup)"
           Manufacturer="Gwupe Pty (Ltd)"
           UpgradeCode="$(var.upgradeCode)"
           IconSourceFile="icon-main.ico"
    >
    <util:ProductSearch Guid="F0C3E5D1-1ADE-321E-8167-68EF0DE699A5" Variable="VCpp2010SP1_Installed"/>
    <BootstrapperApplicationRef
      Id="WixStandardBootstrapperApplication.HyperlinkLicense"
      >
      <bal:WixStandardBootstrapperApplication
        SuppressOptionsUI="yes"
        LicenseUrl=""
        LogoFile="Gwupe Logo No Text.png"
        />
    </BootstrapperApplicationRef>
    <Variable Name="Promo" bal:Overridable="yes" Type="string" Value="GWUPE" />
    <Chain>
      <!-- Need client profile 4.0 -->
      <PackageGroupRef Id="NetFx40ClientWeb" />
      <!-- need the vc 2010 redist package -->
      <ExePackage Id="VCpp2010x86Sp1"
        Cache="no"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="vcredist_x86.exe"
        InstallCommand="/q"
        DownloadUrl="http://download.microsoft.com/download/C/6/D/C6D0FD4E-9E53-4897-9B91-836EBA2AACD3/vcredist_x86.exe"
        InstallCondition="NOT VCpp2010SP1_Installed"
        DetectCondition="VCpp2010SP1_Installed"
      >
        <!-- Generated by "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat.exe" payload vcredist_x86.exe -O Output.wxs -->
        <RemotePayload
          CertificatePublicKey="672605E36DD71EC6B8325B91C5FE6971390CB6B6"
          CertificateThumbprint="9617094A1CFB59AE7C1F7DFDB6739E4E7C40508F"
          Description="Microsoft Visual C++ 2010  x86 Redistributable Setup"
          Hash="B84B83A8A6741A17BFB5F3578B983C1DE512589D"
          ProductName="Microsoft Visual C++ 2010  x86 Redistributable"
          Size="4995416"
          Version="10.0.40219.1" />
      </ExePackage>
      <MsiPackage Id="GwupeSetup"
        Compressed="yes"
        SourceFile="$(var.GwupeSetup.TargetPath)"
        Vital="yes">
        <MsiProperty Name="PROMO" Value="[Promo]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>