<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BlitsMe$(var.buildMarker)" Language="1033"
           Version="!(bind.FileVersion.$(var.BlitsMeAgent.TargetFileName))"
           Manufacturer="BlitsMe Pty (Ltd)"
           UpgradeCode="$(var.upgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of BlitsMe$(var.buildMarker) is already installed."
      Schedule="afterInstallInitialize"
      
    />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Application" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Icon Id="icon.ico" SourceFile="$(var.BlitsMeAgent.ProjectDir)/icon-main.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
    <Property Id="START_VIA_REGISTRY">1</Property>
    <Property Id="MSIDISABLERMRESTART">0</Property>
    <!-- we have included some custom actions -->
    <Binary Id="BlitsMeSetupCustomAction.dll"
      SourceFile="$(var.BlitsMeSetupCustomAction.TargetDir)\BlitsMeSetupCustomAction.CA.dll" />
    <!-- the action which kills blitsme agent -->
    <CustomAction Id="CloseApps"
      Return="check"
      Execute="immediate"
      BinaryKey="BlitsMeSetupCustomAction.dll"
      DllEntry="CloseBlitsMeAgents" />
    <!-- this action opens the agent if it isn't open -->
    <CustomAction Id="OpenBlitsMeAgentIfNotOpen"
      Return="check"
      Execute="immediate"
      BinaryKey="BlitsMeSetupCustomAction.dll"
      DllEntry="OpenBlitsMeAgentIfNotOpen" />
    <!-- this action opens the agent if it isn't open -->
    <CustomAction Id="RequestBlitsMeAgentsRestart"
      Return="check"
      Execute="immediate"
      BinaryKey="BlitsMeSetupCustomAction.dll"
      DllEntry="RequestBlitsMeAgentsRestart" />
    <!-- this just starts the agent -->
    <CustomAction Id="StartAgent"
      FileKey= "BlitsMe.Agent.exe"
      ExeCommand="[INSTALLFOLDER]BlitsMe.Agent.exe"
      Execute="immediate"
      Return="asyncNoWait" />
    <!-- when installing we have 2 modes, user install or installed by service (automatically upgraded) -->
    <InstallExecuteSequence>
      <!-- These actions will only be executed if the user upgrades manually, if its the service upgrading, the agent will restart itself when it realises
      its version has changed -->
      <Custom Action="CloseApps" Before="InstallValidate">
        NOT(LogonUser="SYSTEM")
      </Custom>
      <Custom Action="StartAgent" After="InstallFinalize">
        NOT(LogonUser="SYSTEM")
      </Custom>
      <Custom Action="RequestBlitsMeAgentsRestart" After="InstallFinalize">
        LogonUser="SYSTEM"
      </Custom>
    </InstallExecuteSequence>
  </Product>

  <!-- this sets up where to put everything and menu items etc -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="BlitsMe$(var.buildMarker)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="BlitsMe$(var.buildMarker)"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="{AEA96F71-DE3C-4BD5-9C3A-A04D138CE83C}">
          <Shortcut Id="ApplicationDesktopShortcut"
             Name="BlitsMe$(var.buildMarker)"
             Description="Launch BlitsMe$(var.buildMarker)"
             Target="[INSTALLFOLDER]BlitsMe.Agent.exe"
             WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
            Root="HKCU"
            Key="Software\BlitsMe$(var.buildMarker)"
            Name="ds_shortcut"
            Type="integer"
            Value="1"
            KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="BlitsMe$(var.buildMarker)"
                  Description="BlitsMe$(var.buildMarker)"
                  Target="[INSTALLFOLDER]BlitsMe.Agent.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\BlitsMe$(var.buildMarker)"
                       Name="sm_shortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <!-- inside here is the actual installation process -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- this installs the actual agent -->
      <Component Id="BlitsmeAgent">
        <File Id="BlitsMe.Agent.exe" Source="$(var.BlitsMeAgent.TargetPath)" KeyPath="yes" />
      </Component>
      <!-- the blits me upgrader -->
      <Component Id="BlitsMeUpgradeAgent">
        <File Id="BlitsMe.Agent.Upgrade.exe" Source="$(var.BlitsMeUpgradeAgent.TargetPath)" KeyPath="yes" />
      </Component>
      <!-- this installs the vnc client -->
      <Component Id="BlitsMeAgentSupportScreen">
        <File Source="$(var.BlitsMeAgent.TargetDir)\\bmss.exe" KeyPath="yes" />
      </Component>
      <!-- this installs the blits me service -->
      <Component Id='c_BlitsMeService'>
        <File Id='f_BlitsMeService' Name='BlitsMeService.exe' Vital='yes' Source="$(var.BlitsMeService.TargetPath)" KeyPath='yes'/>
        <ServiceInstall
          Id='BlitsMeService.exe'
          Type='ownProcess'
          Name="BlitsMeService$(var.buildMarker)"
          DisplayName="BlitsMe$(var.buildMarker) Service"
          Description="Part of the BlitsMe Application Suite"
          Interactive='no'
          Start='auto'
          Vital='yes'
          Account="[SERVICEACCOUNT]"
          Password="[SERVICEPASSWORD]"
          ErrorControl='normal'
         >
          <util:ServiceConfig xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
                      FirstFailureActionType="restart"
                      SecondFailureActionType="restart"
                      ThirdFailureActionType="restart"
                      ResetPeriodInDays="1"
                      RestartServiceDelayInSeconds="60" />
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="BlitsMeService$(var.buildMarker)" Wait="yes" />
      </Component>
      <!-- this installs the vnc service -->
      <Component Id='c_BlitsMeSupportService'>
        <File Id='f_BlitsMeSupportService' Name='bmserver.exe' Vital='yes' Source="$(var.BlitsMeService.TargetDir)/bmserver.exe" KeyPath='yes'/>
        <ServiceInstall
          Id='bmserver.exe'
          Type='ownProcess'
          Arguments='-service'
          Name="BlitsMeSupportService$(var.buildMarker)"
          DisplayName="BlitsMe$(var.buildMarker) Support Service"
          Description="Part of the BlitsMe Application Suite"
          Interactive='no'
          Start='auto'
          Vital='yes'
          Account="[SERVICEACCOUNT]"
          Password="[SERVICEPASSWORD]"
          ErrorControl='normal'
         />
        <ServiceControl Id="StartSupportService" Start="install" Stop="both" Remove="uninstall" Name="BlitsMeSupportService$(var.buildMarker)" Wait="yes" />
      </Component>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <!-- Auto-start for all users via Registry -->
      <Component Id="BlitsMeAutoStart">
        <RegistryValue Id="BMAuthoStart.Reg" Root="HKMU" Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="BlitsMe$(var.buildMarker) Agent"
                       Value="[INSTALLFOLDER]BlitsMe.Agent.exe /minimize"
                       Type="string" KeyPath="yes" />
        <Condition>START_VIA_REGISTRY</Condition>
      </Component>
      <Component Id="BlitsMeServerSettings">
        <!-- turns off  http connections for vnc -->
        <RegistryValue Id="AcceptHttpConnections.Reg" Root="HKLM" Action="write"
                     Key="Software\BlitsMe$(var.buildMarker)\Server"
                     Name="AcceptHttpConnections"
                     Value="0"
                     Type="integer" />
        <!-- Allows loopback connections -->
        <RegistryValue Id="AllowLoopback.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="AllowLoopback"
                       Value="1"
                       Type="integer" />
        <!-- Only allows loopback connections -->
        <RegistryValue Id="LoopbackOnly.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="LoopbackOnly"
                       Value="1"
                       Type="integer" />
        <!-- Only States what port to listen on -->
        <RegistryValue Id="RfbPort.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="RfbPort"
                       Value="$(var.VNCServerPort)"
                       Type="integer" />
        <!-- Disabled authentication -->
        <RegistryValue Id="UseVncAuthentication.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="UseVncAuthentication"
                       Value="0"
                       Type="integer" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>