<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Gwupe$(var.buildMarker)" Language="1033"
           Version="!(bind.FileVersion.$(var.Gwupe.TargetFileName))"
           Manufacturer="Gwupe Pty (Ltd)"
           UpgradeCode="$(var.upgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of Gwupe$(var.buildMarker) is already installed."
      Schedule="afterInstallInitialize"
      
    />
    <Property Id="PROMO" Value="NONE"/>
    <Property Id="PROMO_SET" >
      <RegistrySearch Id="PromoKey" Type="raw" Root="HKLM" Key="Software\BlitsMe$(var.buildMarker)" Name="PromoCode" />
    </Property>
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Application" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Icon Id="icon.ico" SourceFile="$(var.Gwupe.ProjectDir)/icon-main.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
    <Property Id="START_VIA_REGISTRY">1</Property>
    <Property Id="MSIDISABLERMRESTART">0</Property>
    <!-- we have included some custom actions -->
    <Binary Id="GwupeSetupCustomAction.dll"
      SourceFile="$(var.GwupeSetupCustomAction.TargetDir)\GwupeSetupCustomAction.CA.dll" />
    <!-- the action which kills Gwupe agent -->
    <CustomAction Id="CloseApps"
      Return="check"
      Execute="immediate"
      BinaryKey="GwupeSetupCustomAction.dll"
      DllEntry="CloseGwupe" />
    <!-- this action opens the agent if it isn't open -->
    <CustomAction Id="OpenGwupeIfNotOpen"
      Return="check"
      Execute="immediate"
      BinaryKey="GwupeSetupCustomAction.dll"
      DllEntry="OpenGwupeIfNotOpen" />
    <!-- this action opens the agent if it isn't open -->
    <CustomAction Id="RequestGwupeRestart"
      Return="check"
      Execute="immediate"
      BinaryKey="GwupeSetupCustomAction.dll"
      DllEntry="RequestGwupeRestart" />
    <!-- this just starts the agent -->
    <CustomAction Id="StartGwupe"
      FileKey= "Gwupe.Agent.exe"
      ExeCommand="[INSTALLFOLDER]Gwupe.Agent.exe"
      Execute="immediate"
      Return="asyncNoWait" />
    <!-- when installing we have 2 modes, user install or installed by service (automatically upgraded) -->
    <InstallExecuteSequence>
      <!-- These actions will only be executed if the user upgrades manually, if its the service upgrading, the agent will restart itself when it realises
      its version has changed -->
      <Custom Action="CloseApps" Before="InstallValidate">
        NOT(LogonUser="SYSTEM")
      </Custom>
      <Custom Action="StartGwupe" After="InstallFinalize">
        NOT(LogonUser="SYSTEM")
      </Custom>
      <Custom Action="RequestGwupeRestart" After="InstallFinalize">
        LogonUser="SYSTEM"
      </Custom>
    </InstallExecuteSequence>
  </Product>

  <!-- this sets up where to put everything and menu items etc -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Gwupe$(var.buildMarker)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Gwupe$(var.buildMarker)"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="{AEA96F71-DE3C-4BD5-9C3A-A04D138CE83C}">
          <Shortcut Id="ApplicationDesktopShortcut"
             Name="Gwupe$(var.buildMarker)"
             Description="Launch Gwupe$(var.buildMarker)"
             Target="[INSTALLFOLDER]Gwupe.Agent.exe"
             WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
            Root="HKCU"
            Key="Software\BlitsMe$(var.buildMarker)"
            Name="ds_shortcut"
            Type="integer"
            Value="1"
            KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Gwupe$(var.buildMarker)"
                  Description="Gwupe$(var.buildMarker)"
                  Target="[INSTALLFOLDER]Gwupe.Agent.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\BlitsMe$(var.buildMarker)"
                       Name="sm_shortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <!-- inside here is the actual installation process -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- this installs the actual agent -->
      <Component Id="Gwupe">
        <File Id="Gwupe.Agent.exe" Source="$(var.Gwupe.TargetPath)" KeyPath="yes" />
      </Component>
      <!-- the blits me upgrader -->
      <Component Id="GwupeUpgradeGwupe">
        <File Id="Gwupe.Upgrade.exe" Source="$(var.GwupeUpgradeAgent.TargetPath)" KeyPath="yes" />
      </Component>
      <!-- the blits me service restarter -->
      <Component Id="GwupeRestartService">
        <File Id="GwupeRestartService.exe" Source="$(var.GwupeRestartService.TargetPath)" KeyPath="yes" />
      </Component>
      <!-- this installs the vnc client -->
      <Component Id="GwupeSupportScreen">
        <File Source="$(var.Gwupe.TargetDir)\\gwupess.exe" KeyPath="yes" />
      </Component>
      <!-- this installs the blits me service -->
      <Component Id='c_GwupeService'>
        <File Id='f_GwupeService' Name='GwupeService.exe' Vital='yes' Source="$(var.GwupeService.TargetPath)" KeyPath='yes'/>
        <ServiceInstall
          Id='GwupeService.exe'
          Type='ownProcess'
          Name="GwupeService$(var.buildMarker)"
          DisplayName="Gwupe$(var.buildMarker) Service"
          Description="Part of the Gwupe Application Suite"
          Interactive='no'
          Start='auto'
          Vital='yes'
          Account="[SERVICEACCOUNT]"
          Password="[SERVICEPASSWORD]"
          ErrorControl='normal'
         >
          <util:ServiceConfig xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
                      FirstFailureActionType="restart"
                      SecondFailureActionType="restart"
                      ThirdFailureActionType="restart"
                      ResetPeriodInDays="1"
                      RestartServiceDelayInSeconds="60" />
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="GwupeService$(var.buildMarker)" Wait="yes" />
      </Component>
      <!-- this installs the vnc service -->
      <Component Id='c_GwupeSupportService'>
        <File Id='f_GwupeSupportService' Name='gwupeserver.exe' Vital='yes' Source="$(var.GwupeService.TargetDir)/gwupeserver.exe" KeyPath='yes'/>
        <ServiceInstall
          Id='gwupeserver.exe'
          Type='ownProcess'
          Arguments='-service'
          Name="GwupeSupportService$(var.buildMarker)"
          DisplayName="Gwupe$(var.buildMarker) Support Service"
          Description="Part of the Gwupe Application Suite"
          Interactive='no'
          Start='auto'
          Vital='yes'
          Account="[SERVICEACCOUNT]"
          Password="[SERVICEPASSWORD]"
          ErrorControl='normal'
         />
        <ServiceControl Id="StartSupportService" Start="install" Stop="both" Remove="uninstall" Name="GwupeSupportService$(var.buildMarker)" Wait="yes" />
      </Component>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <!-- Auto-start for all users via Registry -->
      <Component Id="GwupeAutoStart">
        <RegistryValue Id="BMAuthoStart.Reg" Root="HKMU" Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="Gwupe$(var.buildMarker)"
                       Value="[INSTALLFOLDER]Gwupe.Agent.exe /minimize"
                       Type="string" KeyPath="yes" />
        <Condition>START_VIA_REGISTRY</Condition>
      </Component>
      <Component Id="GwupePromoSetting" NeverOverwrite="yes" Permanent="yes">
<!--        <Condition>PROMO_SET=""</Condition> -->
        <RegistryValue Id="GwupeSettings.Reg" Root="HKLM" Action="write" KeyPath="yes"
                       Key="Software\BlitsMe$(var.buildMarker)"
                       Name="PromoCode"
                       Value="[PROMO]"
                       Type="string" />
      </Component>
      <Component Id="GwupeServerSettings">
        <!-- turns off  http connections for vnc -->
        <RegistryValue Id="AcceptHttpConnections.Reg" Root="HKLM" Action="write"
                     Key="Software\BlitsMe$(var.buildMarker)\Server"
                     Name="AcceptHttpConnections"
                     Value="0"
                     Type="integer" />
        <!-- Allows loopback connections -->
        <RegistryValue Id="AllowLoopback.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="AllowLoopback"
                       Value="1"
                       Type="integer" />
        <!-- Only allows loopback connections -->
        <RegistryValue Id="LoopbackOnly.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="LoopbackOnly"
                       Value="1"
                       Type="integer" />
        <!-- Only States what port to listen on -->
        <RegistryValue Id="RfbPort.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="RfbPort"
                       Value="$(var.VNCServerPort)"
                       Type="integer" />
        <!-- Disabled authentication -->
        <RegistryValue Id="UseVncAuthentication.Reg" Root="HKLM" Action="write"
                       Key="Software\BlitsMe$(var.buildMarker)\Server"
                       Name="UseVncAuthentication"
                       Value="0"
                       Type="integer" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>