<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net40-Client" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net40-Client" />
  <package id="ManyConsole" version="0.4.2.16" targetFramework="net40-Client" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net40-Client" />
</packages>